// Mixins in here

// Display Flex with Parameters
.layout(@f-flow: row wrap, @j-content: center, @a-items: center){
	display: flex;
	flex-flow: @f-flow;
	justify-content: @j-content;
	align-items: @a-items;
}

// Buttons
.custom-button(@bg-color, @width, @color){
    display: flex;
    .layout();
    background-color: @bg-color;
    cursor: pointer;
    width: @width;
    height: 45px;
    font-size: 2rem;
    border-radius: 10px;
    color: @color;
}
