// Navigation Styles here
.navigation{
    max-width: 800px;
    margin: 2% auto;
    width: 100%;
    .layout();

    .heading{
        width: 50%;
        .layout(row wrap, flex-start, center);
    } // End Heading
    .links{
        width: 50%;
        .layout(row wrap, space-around, center);
        a{
            text-align: left;
            font-size: 2rem;
            text-decoration: none;
        } // end a tag
    } // End Links
} // End Navigation
